@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&family=Inter:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&family=Inter:wght@400&family=Lato:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&family=Nunito:wght@400;600&display=swap");

$font-heading: "Playfair Display", serif;
$font-body: "Inter", sans-serif;
$font-button: "Nunito", sans-serif;

body {
  font-family: $font-body;
  background-color: $body-bg;
  color: $body-color;
}

h1,
h2,
h3,
a {
  font-family: $font-heading;
  letter-spacing: 1px;
  color: $body-color !important;
}

a {
  text-underline-offset: 4px !important;
  display: inline-block;
  text-decoration: underline !important;
}
.container {
  font-family: $font-body;
}
button,
.btn {
  font-family: $font-button !important;
  font-weight: bolder !important;
  color: $body-color;
  text-shadow: 0 0 5px #444;
  letter-spacing: 1px;
}
