@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&family=Inter:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&family=Inter:wght@400&family=Lato:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&family=Nunito:wght@400;600&display=swap");

$font-heading: "Playfair Display", serif;
$font-body: "Inter", sans-serif;
$font-button: "Nunito", sans-serif;

